<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/register">Daftar</a></li>
            <li><a href="/login">Masuk</a></li>
        </ul>
    </div>
    <div>
        <h1>SELAMAT DATANG DI LEMBAGA BAHASA MyLanguage</h1>
        <p>Lembaga bahasa MyLanguage menyediakan beberapa kelas bahasa yaitu:</p>
        <p>kelas bahasa inggris, bahasa jepang, bahasa korea, bahasa belanda, bahasa arab dan bahasa rusia</p>
    </div>
</body>
</html>